[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
transitions = "*"
aiogram = "*"
aiohttp = "*"
requests = "*"
pytelegrambotapi = "*"
payment = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
